{{define "main"}}
<article>
  <header class="mb-4 bg-primary-600">
    <span class="py-96">
      <h1 class="py-16 text-5xl font-black text-center text-white capitalize">
        {{ .Title }}
      </h1>
    </span>
  </header>
  <div class="max-w-4xl mx-auto mt-8 mb-2">
    <div class="px-6">
      {{ with .Params.featured_image }}
      {{ with resources.Get . }}
      {{ $small := (.Resize "400x webp q80").RelPermalink }}
      {{ $medium := (.Resize "550x webp q80").RelPermalink }}
      {{ $large := (.Resize "900x webp q80").RelPermalink }}
      {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
      <img src="{{ $featuredimage }}" srcset="
        {{- with $small -}}, {{.}} 400w{{- end -}}
        {{- with $medium -}}, {{.}} 550w{{- end -}}
        {{- with $large -}}, {{.}} 768w{{- end -}}
        {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
           class="object-fill overflow-hidden rounded-lg shadow-lg ring-4 ring-zinc-300/40 dark:ring-gray-900/40 shadow-neutral-100/20 dark:shadow-neutral-800/40"
           width="100%" alt="{{ .Params.title }}" />
      {{ end }}
      {{ end }}
    </div>
  </div>
  <!-- " {{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  <div class="max-w-2xl px-6 pt-6 pb-16 mx-auto prose dark:prose-invert dark:text-white">
    {{if .Params.author}}
      <div class="my-1">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <span class="sr-only">{{ .Params.author }}</span>
              {{ $authorName := replace .Params.author " " "" }}
              {{ $authorImagePath := printf "images/global/authors/%s.jpg" $authorName }}
              {{ with resources.Get $authorImagePath }}
              {{ $authorimage := (.Resize "400x webp").RelPermalink }}
              <img class="w-10 h-10 my-0 rounded-full" src="{{ $authorimage }}" alt="">
              {{ end }}
          </div>
          <div class="pt-1 ml-3">
              <p class="text-sm font-medium text-gray-900 dark:text-white my-0">
                  {{ .Params.author }}
              </p>
              <div class="flex space-x-1 text-sm text-gray-500 dark:text-white">
                  <time datetime={{.Date.Format "2006-01-02" }}>
                      {{.Date.Format "Jan 2, 2006" }}
                  </time>
                  <span aria-hidden="true">&middot;</span>
                  <span>{{ math.Round (div (countwords .Content) 220.0) }} min read</span>
              </div>
          </div>
        </div>
      </div>
    {{end}}

    {{.Content}}
  </div>
</article>
{{end}}