<!-- Footer section -->
{{ $alpine := resources.Get "js/alpine.js" | js.Build }}
<script src="{{ $alpine.RelPermalink }}" defer></script>
{{ $js := resources.Get "js/darkmode.js" | js.Build }}
<script src="{{ $js.RelPermalink }}" defer></script>
<footer class="bg-gray-900">
    <div class="max-w-md px-4 py-12 mx-auto overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
            <div class="px-5 py-2">
                <a href="/about" class="text-base text-gray-400 hover:text-gray-300">About</a>
            </div>

            <div class="px-5 py-2">
                <a href="/categories/blog/" class="text-base text-gray-400 hover:text-gray-300">Blog</a>
            </div>

            <div class="px-5 py-2">
                <a href="/categories/news/" class="text-base text-gray-400 hover:text-gray-300">News</a>
            </div>

            <div class="px-5 py-2">
                <a href="/prose/" class="text-base text-gray-400 hover:text-gray-300">Prose</a>
            </div>

            <div class="px-5 py-2">
                <a href="/contact/" class="text-base text-gray-400 hover:text-gray-300">Contact</a>
            </div>
        </nav>
        <p class="mt-8 text-base text-center text-gray-400">
            &copy; 2023 - {{ now.Format "2006" }} The <a class="hover:underline hover:text-light"
                href="https://github.com/orgs/oshifty/people">SHIFTY Team</a>.
            All rights reserved.
        </p>
        <p class="mt-2 text-base text-center text-gray-400">Template by <a href="https://nusserstudios.com"
                class="hover:underline hover:text-light"><span class="font-black uppercase">Nusser</span> <span
                    class="font-light uppercase">Studios.</span></a>
        </p>
    </div>
</footer>