<!-- <title itemprop="name">{{if .IsHome}} {{ .Title }} - {{ $.Site.Params.description }}
    {{else}} {{ .Title }} | {{ .Site.Title }} {{end}}
</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description"
      content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="en">
{{ if .Params.og_image }}
<meta property="og:image" content="{{ .Params.Site.BaseURL }}{{ .Params.og_image | relURL }}" />
<meta property="og:image:secure_url" content="{{ .Params.og_image | absURL }}" />
{{ else }}
<meta property="og:image" content="{{ .Params.Site.BaseURL }}{{ .Site.Params.og_image | relURL }}" />
<meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}" />
{{ end }}
<meta property="og:type" content="website" /> -->

<!-- Primary Meta Tags -->
<title itemprop="name">{{if .IsHome}} {{ .Title }} - {{ $.Site.Params.description }}
    {{else}} {{ .Title }} | {{ .Site.Title }} {{end}}
</title>
<meta name="title" content="{{if .IsHome}} {{ .Title }} - {{ $.Site.Params.description }}
{{else}} {{ .Title }} | {{ .Site.Title }} {{end}}">
<meta name="description" content="An open-source, hardware-agnostic lighting control solution that uses TCP/IP with Zeroconf to control all fixtures in regard to physical values.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{if .IsHome}} {{ .Title }} - {{ $.Site.Params.description }}
{{else}} {{ .Title }} | {{ .Site.Title }} {{end}}">
<meta property="og:description" content="An open-source, hardware-agnostic lighting control solution that uses TCP/IP with Zeroconf to control all fixtures in regard to physical values.">
<meta property="og:image" content="https://oshifty.github.io/images/shifty-cover.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{if .IsHome}} {{ .Title }} - {{ $.Site.Params.description }}
{{else}} {{ .Title }} | {{ .Site.Title }} {{end}}">
<meta property="twitter:description" content="An open-source, hardware-agnostic lighting control solution that uses TCP/IP with Zeroconf to control all fixtures in regard to physical values.">
<meta property="twitter:image" content="https://oshifty.github.io/images/shifty-cover.png">