{{ define "main" }}
<main>
    <div class="bg-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto">
            <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
                <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
                    <h1
                        class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
                        SHIFTY</h1>
                    <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
                        Reinventing Fixture Control
                    </h2>
                    <a href="/motivation"
                        class="block py-4 mx-auto space-x-4 sm:inline-flex md:inline-flex sm:text-center sm:block">
                        <span
                            class="rounded bg-gray-50 px-2.5 py-1 text-sm font-bold text-gray-900 block max-w-fit mx-auto md:min-w-fit mb-2">
                            More Lighting
                        </span>
                        <span
                            class="inline-flex items-center mb-2 space-x-1 text-sm font-medium text-gray-800 dark:text-white md:min-w-fit">
                            <span>Less Setup</span>
                            <!-- Heroicon name: mini/chevron-right -->
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                    </a>
                    <p
                        class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                        An open-source, hardware-agnostic lighting control solution that uses TCP/IP with Zeroconf,
                        ensures synchronized operation, communicates bi-directionally in full-duplex with all fixtures,
                        and controls them in regard to their physical values.</p>
                </div>
                <div class="col-span-6">
                    {{ $hero := resources.GetMatch "images/pages/shifty-mascot-present.jpg" }}

                    {{ $thumb := ($hero.Fill "400x400 webp q90") }}
                    {{ $large := ($hero.Fill "576x576 webp q90") }}

                    <img srcset="
                        {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
                        {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}" src="{{ $hero.RelPermalink }}"
                        width="100%" height="" alt="Hero" class="w-full max-w-xl mx-auto rounded-lg" />
                </div>
            </div>
        </div>
    </div>

    <!-- More main page content here... -->

    <!-- Testimonial/stats section -->
    <div class="relative my-4">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
            <div class="relative sm:py-8 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div
                        class="absolute inset-y-0 w-full bg-gray-50 dark:bg-gray-900/10 right-1/2 rounded-r-3xl lg:right-72">
                    </div>
                    <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404"
                        height="392" fill="none" viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                    </svg>
                </div>
                <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
                    <!-- Testimonial card-->
                    <div class="relative pt-64 pb-10 overflow-hidden shadow-xl rounded-2xl">
                        {{ $missionimage := resources.Get "images/pages/our-mission.png" }}
                        {{ with $missionimage }}
                        {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
                        <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                            class="absolute inset-0 object-cover w-full h-full" alt="" loading="lazy" />
                        {{ end }}>
                        {{ end }}
                        <div class="absolute inset-0 bg-primary-300 mix-blend-multiply"></div>
                        <div class="absolute inset-0 bg-gradient-to-t from-primary-600 opacity-80">
                        </div>
                        <div class="relative px-8">
                            <blockquote class="mt-8">
                                <div class="relative text-lg font-medium text-white md:flex-grow">
                                    <svg class="absolute top-0 left-0 w-8 h-8 transform -translate-x-3 -translate-y-2 text-primary-400/30"
                                        fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                        <path
                                            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                    </svg>
                                    <i class="relative">
                                        From an early age, I couldn't help but wonder why setting up lighting rigs is
                                        such a complicated and involved process.
                                    </i>
                                </div>

                                <footer class="mt-4">
                                    <p class="text-base font-semibold text-gray-200">
                                        ~ Lukas Runge, Founder of SHIFTY
                                    </p>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
                <!-- Content area -->
                <div class="md:pt-12 sm:pt-6 lg:pt-20">
                    <h2
                        class="text-3xl font-bold tracking-tight text-gray-900 capitalize dark:text-gray-50 sm:text-4xl">
                        Why do we need it?</h2>
                    <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                        <p class="text-lg leading-7">
                            Lighting operation can be frustrating, with constant last-minute fixes and unreliable tools
                            making the process stressful. Despite modern protocols, current solutions don't address the
                            core technical issues operators face, leaving little time for creativity.
                        </p>
                        <p class="text-lg leading-7">
                            SHIFTY offers a fresh approach to simplify the workflow and improve reliability. By greatly
                            transforming the user experience, it aims to solve these persistent challenges and make
                            lighting operation easier for everyone.
                        </p>
                    </div>
                    <div class="my-6">
                        <a href="/motivation" class="text-base font-medium text-primary-400 dark:text-primary-100">
                            Learn more about the motivation&nbsp&rarr;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Hero section -->
    <div class="overflow-hidden sm:pt-6 lg:relative">
        <div class="max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-12 lg:px-8">
            <div>
                <div class="md:mt-8">
                    <div class="mt-6 sm:max-w-xl">
                        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
                            How does it work?
                        </h1>
                        <p class="mt-6 text-lg text-gray-900 dark:text-white">
                            SHIFTY is different to existing approaches to solve the core problem like ArtNet, sACN and
                            other
                            protocols by not just using a different transport. It is a complete rethinking of the
                            lighting control system. Fixtures are now self describing and can be connected in a bus- or
                            tree-like topology or - even better - in a combination of both.
                        </p>
                        <p class="pb-12 mt-6 text-lg text-gray-900 dark:text-white">
                            In addition to also building on top of modern network protocols, using Zeroconf for
                            discovery there is no need for manual configuration. Just physically connect the fixtures
                            and they will be automatically detected and configured in your desk. Also, as we communicate
                            physical values, different fixtures can be matched more easily and be visualized in a much
                            more accurate way.
                        </p>
                    </div>
                    <div class="mb-6">
                        <a href="/solution" class="text-base font-medium text-primary-400 dark:text-primary-100">
                            More technical details&nbsp&rarr;
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
            <div class="md:py-12 sm:relative sm:mt-12 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                <div class="hidden sm:block">
                    <div
                        class="absolute inset-y-0 w-screen left-1/2 rounded-l-3xl bg-gray-50 dark:bg-gray-900/10 lg:left-80 lg:right-0 lg:w-full">
                    </div>
                    <svg class="absolute -mr-3 top-8 right-1/2 lg:left-0 lg:m-0" width="404" height="392" fill="none"
                        viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
                    </svg>
                </div>
                <div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:h-full lg:max-w-none lg:pl-12">
                    {{ $heroOne := resources.GetMatch "images/pages/hacktoberfest.jpg" }}

                    {{ $tiny := ($heroOne.Fit "480x280 q80") }}
                    {{ $small := ($heroOne.Fit "768x280 q80") }}
                    {{ $medium := ($heroOne.Fit "1024x280 q80") }}
                    {{ $large := ($heroOne.Fit "1374x1000 q80") }}

                    <img srcset="
                        {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
                        {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
                        {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
                        {{- with $large.RelPermalink -}}, {{.}} 1374w{{- end -}}" src="{{ $heroOne.RelPermalink }}"
                        alt="Hacktoberfest Image" class="w-full rounded-lg shadow-xl lg:h-full lg:w-auto lg:max-w-none"
                        loading="lazy" />
                </div>
            </div>
        </div>
    </div>

    <div class="relative my-4">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
            <div class="relative sm:py-8 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div
                        class="absolute inset-y-0 w-full bg-gray-50 dark:bg-gray-900/10 right-1/2 rounded-r-3xl lg:right-72">
                    </div>
                    <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404"
                        height="392" fill="none" viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                    </svg>
                </div>
                <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
                    <!-- Testimonial card-->
                    <div class="relative pt-64 pb-10 overflow-hidden shadow-xl rounded-2xl">
                        {{ $missionimage := resources.Get "images/pages/github.png" }}
                        {{ with $missionimage }}
                        {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
                        <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                            class="absolute inset-0 object-cover w-full h-full" alt="Our Mission" loading="lazy" />
                        {{ end }}>
                        {{ end }}
                        <div class="absolute inset-0 "></div>
                        <div class="absolute inset-0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
                <!-- Content area -->
                <div class="md:pt-12 sm:pt-6 lg:pt-20">
                    <h2
                        class="text-3xl font-bold tracking-tight text-gray-900 capitalize dark:text-gray-50 sm:text-4xl">
                        Real-world-tested & Open Source</h2>
                    <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                        <p class="text-lg leading-7">
                            Another important aspect of SHIFTY is that we want to test it before it might be
                            standardized one day. This way we can ensure that it is a good solution for the industry and
                            not just a concept which works in theory, but not in practice.
                        </p>
                        <p class="text-lg leading-7">
                            In addition to that, everything we do is open source. We'll never charge for software,
                            patents or impose license fees. We believe that the best way to develop a solution is to do
                            it together with the community. In our opinion, this is the only way to ensure that the
                            solution will be adopted by the industry.
                        </p>
                    </div>
                    <div class="my-6">
                        <a href="/validation" class="text-base font-medium text-primary-400 dark:text-primary-100">
                            See how we are validating our approach&nbsp&rarr;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative px-1 pt-8 pb-4 bg-transparent lg:px-8 lg:pt-12 lg:mb-4 md:mt-12">
        <div class="absolute inset-0">
            <div class="bg-gray-200 dark:bg-gray-900/50 h-1/3 sm:h-2/3"></div>
        </div>
        <div class="relative px-2 mx-auto max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-3xl font-black tracking-tight text-primary-500 capitalize dark:text-primary-300 sm:text-4xl">
                    Latest News & Updates
                </h2>
                <p class="max-w-2xl mx-auto mt-3 text-xl text-gray-500 dark:text-gray-300 sm:mt-4">
                    Find out what we've been up to lately, see how you can contribute and check out what's new:
                </p>
            </div>

            <div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50 md:px-1.5">
                <div class="px-4 text-gray-900 dark:text-white not-prose dark:text-zinc-200">
                    <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3">
                        {{ range (.Paginator 3).Pages }}
                        {{ partial "post-card.html" . }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA section -->
    <div class="relative pb-16 mt-6">
        <div aria-hidden="true" class="hidden sm:block">
            <div class="absolute inset-y-0 left-0 w-1/2 rounded-r-3xl bg-gray-50 dark:bg-gray-900/10">
            </div>
            <svg class="absolute -ml-3 top-8 left-1/2" width="404" height="392" fill="none" viewBox="0 0 404 392">
                <defs>
                    <pattern id="8228f071-bcee-4ec8-905a-2a059a2cc4fb" x="0" y="0" width="20" height="20"
                        patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                            fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="392" fill="url(#8228f071-bcee-4ec8-905a-2a059a2cc4fb)" />
            </svg>
        </div>
        <div class="max-w-md mx-auto px-7 sm:max-w-3xl lg:max-w-7xl">
            <div class="relative px-6 py-10 overflow-hidden bg-primary-500 shadow-xl rounded-2xl sm:px-12 sm:py-20">
                <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
                    <svg class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360" loading="lazy">
                        <path class="text-primary-600 text-opacity-40" fill="currentColor"
                            d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" />
                        <path class="text-primary-600 text-opacity-40" fill="currentColor"
                            d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" />
                    </svg>
                </div>
                <div class="relative">
                    <div class="sm:text-center">
                        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
                            Get in touch
                        </h2>
                        <p class="max-w-2xl mx-auto mt-6 text-lg text-primary-100">
                            You have some interesting ideas, want to contribute or just want to say hi? We'd love to
                            hear
                            from you! Just let us know your email and we'll be in touch!
                        </p>
                    </div>
                    <form action="/contact/" class="mt-12 sm:mx-auto sm:flex sm:max-w-lg" method="get">
                        <div class="flex-1 min-w-0">
                            <label for="cta-email" class="sr-only">Email address</label>
                            <input id="cta-email" type="email" name="email" required
                                class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent rounded-md shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500"
                                placeholder="Enter your email">
                        </div>
                        <div class="mt-4 sm:mt-0 sm:ml-3">
                            <button type="submit"
                                class="block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent rounded-md shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10">
                                Contact us 📧
                            </button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p class="max-w-2xl mx-auto my-6 text-lg text-primary-100">
                            or check out
                        </p>
                    </div>
                    <div class="text-center">
                        <div class="sm:mx-auto sm:flex sm:max-w-lg">
                            <div class="flex-1 min-w-0">
                                <div class="mt-4 sm:mt-0 sm:ml-3">
                                    <a href="https://github.com/oshifty" target="_blank"
                                        class="block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent rounded-md shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10">
                                        SHIFTY on GitHub 🔗
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{{ end }}